[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fernando-ibanez-mobbill
[access "refs/for/refs/*"]
	read = group user/fernando-ibanez-mobbill
	push = group user/fernando-ibanez-mobbill
	label-Code-Review = -2..+2 group user/fernando-ibanez-mobbill
	label-Verified = -1..+1 group user/fernando-ibanez-mobbill
	rebase = group user/fernando-ibanez-mobbill
	removeReviewer = group user/fernando-ibanez-mobbill
	submit = group user/fernando-ibanez-mobbill
[access "refs/heads/*"]
	read = group user/fernando-ibanez-mobbill
	create = group user/fernando-ibanez-mobbill
	push = +force group user/fernando-ibanez-mobbill
	pushMerge = group user/fernando-ibanez-mobbill
[access "refs/tags/*"]
	push = group user/fernando-ibanez-mobbill
	push = +force group user/fernando-ibanez-mobbill
[project]
	state = hidden
